{% assign midnight = "2023-08-01 00:00" | date: "%H:%M" | date: "%s" %}
{% assign fringe_time = site.fringe_time | date: "%H:%M" | date: "%s" %}
{% assign show = include.show %}

{% assign p_dates = '' | split: '' %} {% comment %} Initialise array for fringe-time-ification{% endcomment %}

{% comment %}FRINGE TIME 

	1. Take the performance date time 
	2. If the time element is between 00:00 and site.fringe_time, decrement the date 
	3. Otherwise, leave it be 
	(site.fringe_time is the time the new day starts in fringeland)

{% endcomment %}

{% for perf in include.show.performances %}
	{% assign picked_performance = perf.start %}
	{% assign picked_date = picked_performance | date: "%Y-%m-%d" %}
	{% assign picked_time = picked_performance | date: "%H:%M" | date: "%s" %}

	{% if picked_time >= midnight and picked_time < fringe_time %}
		{% assign new_perf = picked_performance | date: "%s" | minus: 86400 | date: "%Y-%m-%d %H:%M" %}
	{% else %}
		{% assign new_perf = picked_performance | date: "%Y-%m-%d %H:%M" %}
	{% endif %}
	{% assign p_dates = p_dates | push: new_perf %}
{% endfor %}

{% comment %} DATE HANDLING {% endcomment %}

{% if p_dates and show.performances != empty %}
	{% assign performances_sorted = p_dates | sort %}

	{% assign first_performance = performances_sorted | first %}
	{% assign last_performance = performances_sorted | reverse | first %}

	{% if first_performance == last_performance %}
		{% comment %}Assume show is a one-day{% endcomment %}
		{% assign date_string = first_performance | date_to_long_string: "ordinal" %}
		{% assign date_list = date_string %}
	{% else %}
		{% assign first_month_year = first_performance | date: "%B %Y" %}
		{% assign last_month_year = last_performance | date: "%B %Y" %}
		{% assign date_list = '' | split: ''  %}
		{% if first_month_year == last_month_year %}
			{% comment %} All performances are within 1 calendar month (hooray!){% endcomment %}
			{% capture date_string %}{{- first_performance | date_to_long_string: "ordinal" | remove: first_month_year | strip -}}-{{ last_performance | date_to_long_string: "ordinal" | remove: last_month_year | strip }} {{ first_performance | date: "%b" }}{% endcapture %}
			{% for perf in performances_sorted %}
				{% capture this_date %}{{ perf | date_to_long_string: "ordinal" | remove: first_month_year }}{% endcapture %}
				{% assign this_date = this_date | strip %}
				{% assign date_list = date_list | push: this_date %}
			{% endfor %}
			{% assign first_month = first_performance | date: "%B" %}
			{% assign date_list = date_list | join: ', ' | append: ' ' | append: first_month %}
		{% else %}
			{% assign first_year = first_performance | date: "%Y" %}
			{% assign last_year = last_performance | date: "%Y" %}
			{% if first_year == last_year %}
				{% capture date_string %}{{ first_performance | date_to_long_string: "ordinal" | remove: first_year }} - {{ last_performance | date_to_long_string: "ordinal" | remove: last_year }}{% endcapture %}
				{% for perf in performances_sorted %}
					{% capture this_date %}{{ perf | date_to_long_string: "ordinal" | remove: first_year }}{% endcapture %}
					{% assign this_date = this_date | strip %}
					{% assign date_list = date_list | push: this_date %}
				{% endfor %}
				{% assign date_list = date_list | join: ", " %}
			{% else %}
				{% capture date_stirng %}{{ first_performance | date_to_long_string: "ordinal" }} - {{ last_performance | date_to_long_string: "ordinal" }}{% endcapture %}
				{% for perf in performances_sorted %}
					{% capture this_date %}{{ perf | date_to_long_string: "ordinal" }}{% endcapture %}
					{% assign this_date = this_date | strip %}
					{% assign date_list = date_list | push: this_date %}
				{% endfor %}
				{% assign date_list = date_list | join: ', ' %}
			{% endif %}
		{% endif %}
	{% endif %}
{% else %}
	{% assign date_string = nil %}
	{% assign date_list = nil %}
{% endif %}