{% assign show = include.show %}

{% assign p_dates = '' | split: '' %} {% comment %} Initialise array for fringe-time-ification{% endcomment %}
{% assign p_durations = '' | split: '' %}{% comment %}Initialise array for durations {% endcomment %}
{% assign different_durations = nil %}

{% assign num_shows = include.show.performances | size %}
{% for perf in include.show.performances %}
	{% if picked_performance and forloop.index > 1 and forloop.index <= num_shows %} 
		{% comment %}If this is not the first loop, check that the end times are the same {% endcomment %}
		{% assign prev_index = forloop.index0 | minus: 1 %}
		{% assign prev_perf = include.show.performances[prev_index] %}
		{% assign prev_duration = prev_perf.duration_minutes %}
		{% assign this_duration = perf.duration_minutes %}
		{% if prev_duration != this_duration %}
			{% assign different_durations = true %}
		{% endif %}
	{% endif %}

	{% assign picked_performance = perf.start %}
	{% include manipulation/fringe-time.html picked_performance=perf.start %}

	{% assign p_dates = p_dates | push: new_perf %}
	{% capture p_date_duration %}{{ new_perf }};;{{ perf.duration_minutes }}{% endcapture %}
	{% assign p_durations = p_durations | push: p_date_duration %}
{% endfor %}

{% comment %} DATE HANDLING {% endcomment %}

{% if p_dates and show.performances != empty %}
	{% assign performances_sorted = p_dates | sort %}
	{% assign p_durations_sorted = p_durations | sort %}

	{% assign first_performance = performances_sorted | first %}
	{% assign last_performance = performances_sorted | reverse | first %}
	{% assign first_performance_date = first_performance | date: "%Y-%m-%d" %}
	{% assign last_performance_date = last_performance | date: "%Y-%m-%d" %}

	{% if first_performance_date == last_performance_date %}
		{% comment %}Assume show is a one-day, even if there are multiple performances on that one day{% endcomment %}
		{% assign date_string = first_performance | date_to_long_string: "ordinal" %}
		{% assign date_list = date_string %}
	{% else %}
		{% assign first_month_year = first_performance | date: "%B %Y" %}
		{% assign last_month_year = last_performance | date: "%B %Y" %}
		{% assign date_list = '' | split: ''  %}
		{% if first_month_year == last_month_year %}
			{% comment %} All performances are within 1 calendar month (hooray!){% endcomment %}
			{% capture date_string %}{{- first_performance | date_to_long_string: "ordinal" | remove: first_month_year | strip -}}-{{ last_performance | date_to_long_string: "ordinal" | remove: last_month_year | strip }} {{ first_performance | date: "%b" }}{% endcapture %}
			{% for perf in performances_sorted %}
				{% capture this_date %}{{ perf | date_to_long_string: "ordinal" | remove: first_month_year }}{% endcapture %}
				{% assign this_date = this_date | strip %}
				{% assign date_list = date_list | push: this_date %}
			{% endfor %}
			{% assign first_month = first_performance | date: "%B" %}
			{% assign date_list = date_list | join: ', ' | append: ' ' | append: first_month %}
		{% else %}
			{% assign first_year = first_performance | date: "%Y" %}
			{% assign last_year = last_performance | date: "%Y" %}
			{% if first_year == last_year %}
				{% capture date_string %}{{ first_performance | date_to_long_string: "ordinal" | remove: first_year }} - {{ last_performance | date_to_long_string: "ordinal" | remove: last_year }}{% endcapture %}
				{% for perf in performances_sorted %}
					{% capture this_date %}{{ perf | date_to_long_string: "ordinal" | remove: first_year }}{% endcapture %}
					{% assign this_date = this_date | strip %}
					{% assign date_list = date_list | push: this_date %}
				{% endfor %}
				{% assign date_list = date_list | join: ", " %}
			{% else %}
				{% capture date_stirng %}{{ first_performance | date_to_long_string: "ordinal" }} - {{ last_performance | date_to_long_string: "ordinal" }}{% endcapture %}
				{% for perf in performances_sorted %}
					{% capture this_date %}{{ perf | date_to_long_string: "ordinal" }}{% endcapture %}
					{% assign this_date = this_date | strip %}
					{% assign date_list = date_list | push: this_date %}
				{% endfor %}
				{% assign date_list = date_list | join: ', ' %}
			{% endif %}
		{% endif %}
	{% endif %}
{% else %}
	{% assign date_string = nil %}
	{% assign date_list = nil %}
{% endif %}