{% assign show = include.show %}
{% assign show_image = nil %}
{% if show.images and show.images != empty %}
  {% assign show_image = show.images | where_exp: "image", "image.orientation == 'square'" %}
  {% unless show_image %}
    {% assign show_image = show.images | first %}
  {% endunless %}

  {% assign show_image = show_image[0].versions | where_exp: "image", "image.type == 'original'" | last %}
  {% assign show_image = show_image.url %}
  <img class="show-poster" src="{{ show_image }}" alt="{% if show.poster_alt %}{{ show.poster_alt }}{% else %}{{ show.title }} poster{% endif %}">


{% else %}
  <img class="show-poster show-poster-holding" src="{% link static/poster-tbc.png %}" alt="Poster coming soon">
{% endif %}