.nownext {
	.show-card {
		.card-header, .card-header a {
			color: map-get($color-paradise, "paradise-white");
		}
	}
}
.nownext-website {
  @extend .display-4;
  letter-spacing: 15px;
  text-transform: uppercase;
  font-weight: bold;
}