.nownext {
	.show-card {
		.card-header, .card-header a {
			color: map-get($color-paradise, "paradise-white");
		}
	}
	.show-card-background {
		opacity: 0.2;
	}
	img.venue-logo {
		@extend .img-fluid, .px-5;
	}
}
.nownext-website {
  @extend .display-4;
  letter-spacing: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.swiper-pagination {
	@extend .fs-4;
}