{% assign match = site.data.genres | where_exp: "genre", "genre.name==include.genre" | first %}

{% if include.filter_list %}
<input class="d-none genre-input" name="filter-genre-item" type="checkbox" value="{{ include.genre | slugify }}" id="genre-{{ include.genre | slugify }}">
	<label 
		class="genre-badge px-2 text-dark {% unless match %}bg-secondary{% endunless %}" 
		style="{% if match %}background-color: #{{ match.color }}{% endif %}" for="genre-{{ include.genre | slugify }}"
	>
		<span>
			{% if match %}
				{{ match.display_name | default: match.name | default: include.genre }}
			{% else %}
				{{ include.genre }}
			{% endif %}
		</span>
	</label>
</input>
<br>
{% else %}
<span class="genre-badge px-4 text-dark {% unless match %}bg-secondary{% endunless %}" 
	style="{% if match %}background-color: #{{ match.color }}{% endif %}" for="genre-{{ include.genre | slugify }}">
	<span>
		{% if match %}
			{{ match.display_name | default: match.name | default: include.genre }}
		{% else %}
			{{ include.genre }}
		{% endif %}
	</span>
</span>
{% endif %}

{% assign match = nil %}
