{% assign match = site.data.genres | where_exp: "genre", "genre.name==include.genre" | first %}

<input class="d-none genre-input" name="filter-genre-item" type="checkbox" value="{{ include.genre | slugify }}" id="genre-{{ include.genre | slugify }}">
	<label 
		class="genre-badge px-4 text-dark {% unless match %}bg-secondary{% endunless %}" 
		style="{% if match %}background-color: #{{ match.color }}{% endif %}" for="genre-{{ include.genre | slugify }}"
	><span>{{ include.genre }}</span>
	</label>
</input>
<br>

{% assign match = nil %}
