{% assign show = include.show %}
<div class="show-card h-100">
  <div class="poster-wrap">
    <div class="show-card-poster">
      {% if show.image and show.image != empty %}
        <img class="show-poster" src="{{ show.image }}" alt="{% if show.poster_alt %}{{ show.poster_alt }}{% else %}{{ show.title }} poster{% endif %}">
      {% else %}
        <img class="show-poster show-poster-holding" src="{% link static/poster-tbc.png %}" alt="Poster coming soon">
      {% endif %}
      <div class="show-meta">
        <p><i class="fa fa-fw fa-clock"></i> {{ show.start_time }} ({{ show.duration }})</p>
        <p><i class="fa fa-fw fa-house"></i> {{ show.performance_space }} <br>({{ show.venue }})</p>
        <p><i class="fa fa-fw fa-masks-theater"></i> {{ show.genre | join: ", " }}</p>
      </div>
    </div>
    <div class="wrap-content">
      <div class="card-header">
        <h2>{{ show.title }}</h2>
        <p class="lead">{{ show.company }}</p>
        <div class="show-card-buttons d-flex flex-row justify-items-between mb-4">
          <a href="#" class="btn btn-book">Book Tickets</a>
          <!-- <a href="#" class="btn btn-read-more">Read more</a> -->
        </div>
      </div>
      <div class="card-body px-0 my-4 mt-4">
        {{ show.copy_short | markdownify | truncatewords:50 | remove: '...' }} | <a href="#" class="link-secondary">Read more...</a>
      </div>
    </div>
  </div>
  <div class="card-footer bg-transparent px-0 border-0">
  </div>
</div>