				<div class="pg-offcanvas offcanvas-start bg-primary" tabindex="-1" id="whatson-sidebar" aria-labelledby="vn-title">
					<div class="offcanvas-header">
						<button type="button" class="pg-button ms-auto" data-bs-dismiss="offcanvas" data-bs-target="#whatson-sidebar" aria-label="Close">Close</button>
					</div>
					<div class="offcanvas-body d-flex flex-column">
						{% if site.data.navigation %}
						<nav class="pgp-nav">
							<ul class="nav flex-column">
								{% for item in site.data.navigation %}
									<li class="nav-item">
										<a class="nav-link {% if page.path == item.link %}active {% endif %}" href="{% link {{ item.link }}  %}">
											{% if item.icon %}<i class="fa fa-fw {{ item.icon }}"></i>&nbsp;{% endif %}
											<span>{{ item.title }}</span>
										</a>
									</li>
								{% endfor %}
							</ul>
						</nav>
						{% endif %}
						{% if page.layout == 'whatson' %}
							{% include components/filters.html %}
						{% endif %}
					</div>
				</div>