				<div class="offcanvas-lg offcanvas-start bg-primary" tabindex="-1" id="whatson-sidebar" aria-labelledby="vn-title">
					<div class="offcanvas-header">
						<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body d-flex flex-column">
						<h2 class="text-center">Search & Filter</h2>
						{% for i in (1..5) %}
							<div class="my-4">
								<span class="placeholder col-7"></span>
								<span class="placeholder col-4"></span>
								<span class="placeholder col-4"></span>
								<span class="placeholder col-6"></span>
								<span class="placeholder col-8"></span>
							</div>
						{% endfor %}
					</div>
				</div>