.filters {
	border: 3px solid white;
	@extend .p-2, .pb-3;

	.filter-header {
		@extend .link-light;
		&:hover, &:focus, &:focus-within {
			text-decoration: none;
			span {
				text-decoration: underline;
			}
		}
	}
	.filter-body {
		@extend .ms-2;
	}
	.form-check {
		padding-left: 0;
	}

	.venue-list, .age-list {
		ul {
			list-style: none;
		}
	}
}
button.update-results, button.clear-results {
	@extend .pg-button; 
	@extend .w-100, .fs-5;
	border-top: none !important;
}

.filtered-out-by-search, .filtered-out-by-date, .filtered-out-by-time, .filtered-out-by-venue, .filtered-out-by-genre, .filtered-out-by-age {
	@extend .d-none;
}

.search-input, .form-select, .date-picker {
	border-radius: 0 !important;
	background-color: $color-white !important;
	@extend .ms-lg-2;
	@include media-breakpoint-up(lg){
		width: 75% !important;
	}
}
label.genre-badge {
	opacity: 50%;
	&:hover, &:focus, &:active, &.active {
		opacity: 100%;
	}
}
.genre-badge {
	@extend .smear-background;

	font-size: $small-font-size;
	min-height: 2rem; 
	@extend .py-3;
	@extend .d-flex;
	span { 
		mix-blend-mode: color-burn;
	  font-weight: bold;
	  @extend .text-center, .w-100, .d-inline-block, .my-auto;
	  letter-spacing: 4px;
	  text-transform: uppercase; 
	  line-height: 1.2;
	}
}

.spinner {
  border: 16px solid map-get($color-paradise,"paradise-blue");
  border-radius: 50%;
  border-top: 16px solid map-get($color-paradise,"paradise-white");
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}