.filters {
	border: 3px solid white;
	@extend .p-2, .pb-3;

	.filter-header {
		@extend .link-light;
		&:hover, &:focus, &:focus-within {
			text-decoration: none;
			span {
				text-decoration: underline;
			}
		}
	}
	.filter-body {
		@extend .ms-2;
	}
	.form-check {
		padding-left: 0;
	}

	.venue-list, .age-list {
		ul {
			list-style: none;
		}
	}
}
button.update-results {
	@extend .pg-button; 
	@extend .w-100, .fs-5;
	border-top: none !important;
}

.filtered-out-by-venue, .filtered-out-by-genre, .filtered-out-by-search, .filtered-out-by-age {
	@extend .d-none;
}

.search-input {
	border-radius: 0 !important;
	background-color: $color-white !important;
	@extend .ms-lg-2;
	@include media-breakpoint-up(lg){
		width: 75% !important;
	}
}
.genre-badge {
	-webkit-mask-image: url('/static/band/white-thick.png');
	width: 100%;
	-webkit-mask-position: center;
	-webkit-mask-size: 100%;
	-webkit-mask-repeat: no-repeat;

	font-size: $small-font-size;
	min-height: 2rem; 
	@extend .d-flex;
	span { 
		mix-blend-mode: color-burn;
	    font-weight: bold;
	    @extend .text-center, .w-100, .d-inline-block, .my-auto;
	}
}