.show-card-col {
	hr {
		width: 97%;
		@extend .mx-auto, .m-0;
	}
}

.show-card {
	@extend .card, .rounded-0, .border-0;
	@extend .bg-transparent;

	.card-header {
	    background: inherit;
	    border: none;
	    @extend .pb-0;
	}
	.card-body {
		@extend .py-0, .px-3; 
	}
}
.show-meta {
	@extend .text-paradise-blue;
	@extend .d-flex, .flex-column;
	p:last-child {
		@extend .mb-0;
	}
	background-color: rgb(226, 236, 255);
	@extend .ps-2, .pe-1, .py-4;
}

.show-page .poster-wrap {
	@include media-breakpoint-down(md) {
		grid-template-areas: 'poster' '.';
	}
}
.poster-wrap {
	@extend .d-grid;
    column-count: 2;
    grid-template-areas: 'poster .' 'poster .';

    @include media-breakpoint-up(md) {
    	grid-template-columns: 1fr 2fr;
    	grid-template-rows: auto 2fr;
    }

    @include media-breakpoint-down(md) {
    	column-count: 1;
    	grid-template-areas: '.' 'poster' '.';
    	div.show-poster, .show-card-buttons {
    		width: 75%;
    		margin-left: auto;
    		margin-right: auto;
    	}
    }
    gap: 0;

    div.show-poster {
    	grid-area: poster;
    }
}

.show-card-buttons, .show-buttons {
	@extend .d-flex, .flex-column, .px-3;

	.btn {
		@extend .rounded-0, .w-100;
		@extend .mt-2;
	}

	.btn-book {
		@extend .btn-primary;
	}
	.btn-read-more {
		@extend .btn-secondary;
	}
}

img.show-poster {
	width: 100%;
	height: auto;
	@extend .shadow;
}