.whatson-wrapper {
  @extend .g-0, .g-xl-2;
  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 3fr;
    gap: $grid-gutter-width;
  }
}
.pg-offcanvas {
  @extend .offcanvas-lg;
}
.sidebar-toggler {
  @extend .d-lg-none;
}
.sidebar {
  @extend .bg-primary; // Ensure the background is full height of the page when the page is longer than the viewport
  grid-area: sidebar;
  @include media-breakpoint-up(lg) {
    padding: 1rem;
    padding-left: 1.7rem;
    margin-left: -1rem;
  }
  #whatson-sidebar {  
    @extend .sticky-xl-top;
    @include media-breakpoint-up(lg) {
      // Override collapse behaviors
      display: block !important;
      height: 100vh;
      overflow-y: auto; // Takes full height of the viewport and then independently scrolls 
      align-self: start;  // For position sticky
    }
  }
  .pgp-nav a.nav-link {
    @extend .link-light, .text-center, .fs-4;
    &:hover, &:focus, &:focus-within {
      span {
        text-decoration: underline;
      }
    }
    &.active {
      background-color: white;
      font-weight: bold;
      @extend .link-primary;
    }
  }

  @include media-breakpoint-down(lg) {
    .pg-offcanvas {
      border-right-color: var(--bs-border-color);
      box-shadow: $box-shadow-lg;
    }
  }
}
main {
  @extend .container-fluid;
  @include media-breakpoint-up(lg){
    grid-area: main;
    min-height: 100vh;
  }
}
