---
layout: default
---
{% assign show = page %}
{% include show/show-date-range.html show=show %}
{% include show/show-start-time.html show=show %}

<div class="row show-page">
	<div class="col-12">
		<div class="poster-wrap">
			<div class="show-poster mb-4">
				{% include show/show-get-poster.html show=show %}
				{% include show/show-meta.html show=show %}
			</div>
			<div class="wrap-content px-4">
				{% if date_list or show_start_time %}
					<p class="lead">
						<strong>Performances:</strong> 
						{% if show_start_time contains 'Various' or different_durations %}
							<ul>
								{% for p in performances_sorted %}
									{% assign p_year = p | date: "%Y" %}
									<li>{{ p | date_to_long_string: "ordinal" | remove: p_year}} - {{ p | date: "%H:%M" }} 
										{% if different_durations %}
											{% assign show_duration = p_durations_sorted[forloop.index0] | split: ';;' | last %}
											({% include manipulation/mins-duration.html minutes=show_duration output=true %})
										{% endif %}
									</li>
								{% endfor %}
							</ul>
							{% unless different_durations %}
								<em>All performances are {{ show_duration }}</em>
							{% endunless %}
						{% else %}
							{{ date_list }} 
							{% if date_list and show_start_time %}
								<br>
							{% endif %}
							<strong>Start time: </strong>{{ show_start_time }} 
							{% if show_duration %}
								({{ show_duration | strip }})
							{% endif %}
							{% if preview_time %}<br><strong>Previews:</strong> {{ preview_dates | join: ", " }} at {{ preview_time }}{% endif %}
						{% endif %}
					</p>
				{% endif %}
				<p>{{ show.description }}</p>
				<div class="show-buttons mb-4">
					{% include show/show-book-button.html show=show classes='w-100' %}
				</div>
				{% if show.warnings and show.warnings != empty and show.warnings != "None" %}
					{% assign has_cw = true %}
				{% elsif show.warning_detail and show.warning_detail != empty %}
					{% assign has_cw = true %}
				{% elsif show.age_category and show.age_category != empty %}
					{% assign has_cw = true %}
				{% elsif show.age_restricted %}
					{% assign has_cw = true %}
				{% endif %}
				{% if has_cw %}
					<h2>Content Warnings</h2>
					{% if show.age_category and show.age_category != empty %}
						<p class="lead text-primary">Age {% if show.age_restricted %}restriction{% else %}guidance{% endif %}: {{ show.age_category }}</p>
					{% endif %}
					{% if show.warnings and show.warnings != empty and show.warnings != "None" %}
						{% assign the_warnings = show.warnings | jsonify | remove: '"' | split: "\n" %}
						{% if the_warnings.size == 2 %}
							{% assign more_information = the_warnings | first %}
							<p>{{ the_warnings | last | replace: "More information", more_information }}</p>
						{% else %}
							<ul>
								{% for cw in show.warnings %}
									<li>{{ cw | remove: "More information" }}</li>
								{% endfor %}
							</ul>
						{% endif %}
					{% endif %}
					{% if show.warning_detail and show.warning_detail != empty %}
						{{ show.warning_detail | markdownify }}
					{% endif %}
				{% endif %}
				{% if show.disabled and show.disabled != empty %}
					{% for i in show.disabled %}
						{% comment %}Check if there are any accessibility concerns before determining whether to display the section {% endcomment %}
						{% if i[1] != null and i[1] != false %}
							{% assign has_access = true %}
							{% break %}
						{% endif %}
					{% endfor %}
					{% if has_access %}
						<h2>Accessibility</h2>
						<ul>
							{% for i in show.disabled %}
								{% comment %}Iterate over the accessibility options, and index for their dates if available {% endcomment %}
								{% if i[1] != nil and i[1] != false %}
									{% if i[0] contains "_dates" or i[0] contains "_information" %}
										{% continue %}
									{% else %}
										{% capture i_dates %}{{ i[0] }}_dates{% endcapture %}
										{% capture i_info %}{{ i[0] }}_information{% endcapture %}
										<li>{% if i[0] == "other_services" %}{{ show.disabled[i_info] }}{% else %}{{ i[0] | capitalize }}{% endif %}
											{% if show.disabled[i_dates] %}
												on 
												{% assign date_array = show.disabled[i_dates] | split: "," %}
												{% if date_array.size == performances_sorted.size %}
													all performances.
												{% else %}
													{% for d in date_array %}{{ d | date_to_long_string: "ordinal" }}{% unless forloop.last %}, {% endunless %}
													{% endfor %}
												{% endif %}
											{% endif %}
											{% if show.disabled[i_dates] and show.disabled[i_info] %}<br>{% endif %} 
											{% unless i[0] == "other_services" %}{{ show.disabled[i_info] }}{% endunless %}
										</li>
									{% endif %}
								{% endif %}
							{% endfor %}
						</ul>
					{% endif %}
					{% assign has_access = false %}
				{% endif %}

			</div>
		</div>
	</div>
</div>

