---
layout: default
---

{{ content }} 

{% if site.data.shows %}
	<div class="loading mb-4 d-none">
		<div class="spinner mx-auto"></div>
	</div>
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-1 row-cols-xl-2 g-4">
		{% for i in (1..4) %}
			<div class="loading col d-none">
				<div class="show-card h-100">
					<div class="poster-wrap">
						<div class="show-poster">
							<div class="ratio ratio-1x1 placeholder-glow">
								<div class="placeholder col-7"></div>
							</div>
							<div class="show-meta placeholder-glow d-flex flex-row align-items-center">
								<span class="placeholder-sm placeholder col-5"></span><span class="placeholder-sm placeholder col-4"></span><br>
								<span class="placeholder-sm placeholder col-8"></span>
							</div>
						</div>
						<div class="wrap-content">
							<div class="card-header">
								<h2 class="placeholder-glow"><span class="placeholder"></span></h2>
								<p class="lead placeholder-glow">
									<span class="placeholder col-5"></span><span class="placeholder col-4"></span><br>
									<span class="placeholder col-8"></span>
									<span class="placeholder col-5"></span>
									<span class="placeholder col-4"></span><span class="placeholder col-3"></span>
								</p>
							</div>
						</div>
						<div class="body-wrapper">
							<div class="show-card-buttons d-flex flex-row justify-items-between mb-4">
								<a class="btn btn-primary disabled placeholder col-6"></a>
							</div>
							<div class="placeholder-glow mx-3">
								<span class="placeholder col-10"></span><span class="placeholder col-4"></span><br>
								<span class="placeholder col-8"></span>
								<span class="placeholder col-4"></span>
								<span class="placeholder col-4"></span><span class="placeholder col-3"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-1 row-cols-xl-2 g-4" id="show_list">
		{% assign shows_by_title = site.data.shows | sort: 'title' %}
		{% for show in shows_by_title %}
			{% include show/show-card.html show=show %}
		{% endfor %}
		<p class="lead d-none results-counter" id="results_counter"></p>
		<p class="lead text-center d-none no-results" id="no_results">There are no results, try clearing your filters or search terms.</p>
	</div>
{% endif %}